.loader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.list-container {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 720px) {
  .list-container {
    display: flex;
    flex-direction: column-reverse;
  }
}
